$breakpoints: (
  sm: 768px,
  md: 992px,
  lg: 1260px,
  xl: 1440px,
  xxl: Infinity
);

@mixin bp($breakpoint) {
  @if map-has-key($map: $breakpoints, $key: $breakpoint) {
    @media (min-width: #{map-get($breakpoints, $breakpoint)}) {
      @content;
    }
  } @else {
    @warn "Unfortunately, no value could be retrieved from `#{$breakpoint}`. "
        + "Please make sure it is defined in `$breakpoints` map.";
  }
}
