$fontSmallSize: 1rem;
$fontMediumSize: 1.5rem;
$fontLargeSize: 2.8rem;
$fontBigSize: 4.5rem;

$fontLightWeight: 300;
$fontRegularWeight: 400;
$fontMediumWeight: 500;
$fontSemiBoldWeight: 600;
$fontBoldWeight: 700;
$fontBlackWeight: 800;

@mixin font($size, $color, $weight) {
  font-size: $size;
  color: $color;
  font-weight: $weight;
}

@mixin paragraph() {
  font-size: $fontSmallSize;
  font-weight: $fontLightWeight;
  color: $purewhite;
  @content;
}