$fontSmallSize: 1.1rem;
$fontMediumSize: 1.5rem;
$fontLargeSize: 2.2rem;
$fontBigSize: 6rem;

$fontRegularWeight: 400;
$fontMediumWeight: 500;
$fontSemiBoldWeight: 600;
$fontBoldWeight: 700;

@mixin mixin-font($size, $color, $weight) {
  font-size: $size;
  color: $color;
  font-weight: $weight;
}
